<div class="auction-list">
  <div class="auction-list__header">
    <h1>Auctions</h1>
    <button mat-flat-button color="primary" (click)="create()">
      <mat-icon>add</mat-icon>
      New Auction
    </button>
  </div>

  @if (isLoading()) {
    <p class="auction-list__loading">Loading...</p>
  } @else if (auctions().length === 0) {
    <p class="auction-list__empty">No auctions created yet.</p>
  } @else {
    <div class="auction-list__grid">
      @for (auction of auctions(); track auction.id) {
        <div class="auction-list__card">
          <div class="auction-list__card-header">
            <span class="auction-list__name">{{ auction.name }}</span>
            <span class="auction-list__status" [class]="'auction-list__status--' + auction.status.toLowerCase()">
              {{ auction.status }}
            </span>
          </div>
          <span class="auction-list__meta">
            {{ auction.participatingTeams.length }} teams · {{ auction.playerQueue.length }} in pool
          </span>
          <div class="auction-list__actions">
            <button mat-flat-button color="primary" (click)="openConsole(auction)">
              <mat-icon>gavel</mat-icon>
              Open Console
            </button>
            <button mat-button (click)="copyViewerLink(auction)">
              <mat-icon>link</mat-icon>
              Copy Viewer Link
            </button>
          </div>
        </div>
      }
    </div>
  }
</div>
